<div>
  <!-- <mat-toolbar>

    <div class="topmenuitems">
      <span [routerLink]="['/login']">Home / Login</span>
      <span [routerLink]="['/user']">UserPage</span>
      <span [routerLink]="['/admin']">AdminPage</span>
    </div>
  </mat-toolbar> -->
  <mat-toolbar color="primary">
    <a class="navbar-brand">{{pageTitle}}</a>
    
    <!-- This fills the remaining space of the current row -->
    <span class="example-fill-remaining-space"></span>

    <span *ngIf="authService.isLoggedIn()">
      <a [routerLink]="['/login']">Welcome {{ authService.currentUser.userName }}</a>
    </span>
    <span>
      <span *ngIf="!authService.isLoggedIn()">
        <a [routerLink]="['/login']">Log In</a>
      </span>
      <span *ngIf="authService.isLoggedIn()">
        <a (click)="logOut()">Log Out</a>
      </span>
    </span>
  </mat-toolbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>