<!-- Sidebar -->
<mat-selection-list color="primary">
  <mat-list-item [routerLink]="['dashboard']">Dashboard</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['adminusers']">UserPage</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['products']">Products</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['category']">Category</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['exhibition']">Exhibitions</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['potentialusers']">Potential Users</mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item [routerLink]="['reportabuse']">Reported abuse</mat-list-item>
</mat-selection-list>