<mat-tab-group>
  <mat-tab label="Manufacturers">
    <app-differentuser componentname='Manufacturer' datasource="getUserByRole('manufacturer')"></app-differentuser>
  </mat-tab>
  <mat-tab label="Dealers">
    <app-differentuser componentname='Dealer' datasource="getUserByRole('manufacturer')"></app-differentuser>
  </mat-tab>
  <mat-tab label="Wholesalers">
    <app-differentuser componentname='Wholesaler' datasource="getUserByRole('manufacturer')"></app-differentuser>
  </mat-tab>
  <mat-tab label="International Traders">
    <app-differentuser componentname='International Trader' datasource="getUserByRole('manufacturer')"></app-differentuser>
  </mat-tab>
  <mat-tab label="Builders">
    <app-differentuser componentname='Builder' datasource="getUserByRole('manufacturer')"></app-differentuser>
  </mat-tab>
</mat-tab-group>